BOX_FOLDER_ID="YOUR_FOLDER_ID"
BOX_FIRST_FILE="FILE_ID"
BOX_SECOND_FILE="FILE_ID"
BOX_ENTERPRISE_ID="YOUR_EID"
BOX_USER_ID="YOUR_USER_ID"
BOX_SEARCH_QUERY="YOUR_BOX_SEARCH_QUERY"
BOX_METADATA_QUERY="YOUR_BOX_METADATA_QUERY"
BOX_METADATA_TEMPLATE="YOUR_BOX_METADATA_TEMPLATE"
BOX_AI_PROMPT="YOUR_BOX_AI_PROMPT"